body{
    position: relative;
    width: 1440px;
    height: 2447px;

    background: #FFFFFF;

    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin: -0 0 0 -720px;
}
a{
    text-decoration: none;
}
header {
    position: absolute;
    width: 100%;
    height: 566px;
    left: 0;
    top: 26px;
}
.nav{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    top: 26px;

    border-bottom: 1px solid #AE7C78;
    border-top: 1px solid #AE7C78;
}
.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items:center;
}

#catalog{
    width: 66px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #AE7C78;
}
#order{
    width: 154px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#reviews{
    width: 65px;
    height: 20px;

    font-family:'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #AE7C78;
}
#special-offers{
    width: 160px;
     height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #AE7C78;
}
#contacts {
    width: 78px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #AE7C78;
}
#basket{
    width: 72px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #AE7C78;
}
.info{
    position: relative;
    width: 100%;
    height: 502px;
    top: 171px;

}
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#autors-bouquets{
    margin-top: 0;
    margin-bottom: 24px;
    padding-top: 0;
    width: 384px;
    height: 118px;

    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;

    color: #AE7C78;
}
#original-bouquets{
    margin-top: 0;
    margin-bottom: 64px;
    width: 384px;
    height: 58px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #AE7C78;
}
#flowers{
    width: 698px;
    height: 420px;

    border-radius: 10px;
}
.rectangle{
    margin-top: 0;
    width: 285px;
    height: 80px;

    background: #D89999;
    border-radius: 40px;

    display:flex;
    justify-content:space-around;
    align-items:center;
}
#view-catalog{
    width: 146px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}
.container3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-start;
}
.container4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.advantages{
    position: absolute;
    width: 1200px;
    height: 108px;
    left: 120px;
    top: 709px;
}
#truck{
    width: 82px;
    height: 52px;
}
#fast-delivery {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 152px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#collect-bouquet {
    margin-left: 20px;
    margin-top: 8px;
    width: 285px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #AE7C78;
}
#bouquet{
    width: 52px;
    height: 52px;
}
#fresh-flowers{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 182px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#state-flowers{
    margin-left: 20px;
    margin-top: 8px;
    width: 285px;
    height: 80px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #AE7C78;
}
#camera{
    width: 58.6px;
    height: 52px;
}
#send-photo{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width: 213px;
    height: 20px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#before-delivery{
    margin-left: 20px;
    margin-top: 8px;
    width: 285px;
    height: 60px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #AE7C78;
}
.popular1{
    position: absolute;
    left: 0;
    top: 84px;
}
.container5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;


}
.popular{
    position: absolute;
    width: 794px;
    height: 522px;
    left: 323px;
    top: 870px;
}
#popular-bouquet{
    position: absolute;
    width: 371px;
    height: 48px;
    left: 217px;
    top: 0;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #AE7C78;
}
#bouquet-tenderness{
    width: 228px;
    height: 29px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #AE7C78;
}
#elegant-bouquet{
    width: 387px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #AE7C78;
}
#size{
    width: 85px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#price{
    width: 118px;
    height: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #AE7C78;
}
#charter{
    width: 73px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}
#img-bouquet{
    width: 387px;
    height: 438px;
}
.discount{
    position: absolute;
    width: 1200px;
    height: 391px;
    left: 87px;
    top: 1486px;
}
#rectangle2 {
    position: absolute;
    width: 1200px;
    height: 391px;
    left: 0;
    top: 0;

    background: #AE7C78;
}
#img-discount{
    position: absolute;
    width: 590px;
    height: 391px;
    left: 610px;
    top: 0;

    border-radius: 0px;
}
#discount-first{
    position: absolute;
    width: 488px;
    height: 118px;
    left: 102px;
    top: 40px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
#first-order {
    position: absolute;
    width: 387px;
    height: 145px;
    left: 101px;
    top: 182px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
.reviews {
    position: absolute;
    width: 1200px;
    height: 308px;
    left: 90px;
    top: 1970px;
}
#rectangle3{
    box-sizing: border-box;

    position: absolute;
    width: 1200px;
    height: 308px;
    left: 0;
    top: 0;

    border: 1px solid #AE7C78;
}
#reviews-text {
    position: absolute;
    width: 152px;
    height: 48px;
    left: 524px;
    top: 40px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #AE7C78;
}
#reviews-1{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 44px;
    top: 129px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #AE7C78;
}
#reviews-2{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 450px;
    top: 129px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #AE7C78;
}
#reviews-3{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 856px;
    top: 129px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #AE7C78;
}
#reviewses-1{
    position: absolute;
    width: 68px;
    height: 20px;
    left: 160px;
    top: 225px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#reviewses-2{
    position: absolute;
    width: 66px;
    height: 20px;
    left: 567px;
    top: 224px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
#reviewses-3{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 981px;
    top: 224px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #AE7C78;
}
footer{
    position: absolute;
    width: 100%;
    height: 97px;
    left: 0px;
    top: 2350.22px;

    background: #AE7C78;
}
#catalog1{
    width: 66px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
#order1{
    width: 154px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
}
#reviews1{
    width: 65px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
#special-offers1{
    width: 160px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
#contacts1{
    width: 78px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

